body{
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    margin: 0px;
  padding: 0px;
  text-align: center;
}
.col{
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin: 0 auto;

}

.row{
    margin-bottom: 20px;
        display: flex;
        justify-content: center;

}
.nav{
    text-align: center;
    align-items: center;
}

h2{
    color:white;
    font-family: fantasy;
    font-size: 50px;

}

p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

.nav-link {
	color: honeydew;
	padding-right: 50px;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}

.nav-link:hover {
	color: red;
}

.img-fluid2{
    border-radius: 50%;
}